.select {
  position: relative;
  z-index: 10;

  &.dark {
    .select__dropdown {
      background-color: var(--black);

      &_item:hover {
        background-color: var(--black-100);
      }
    }
  }

  &__selected {
    display: flex;
    align-items: center;
    gap: 6px;
    transition: 0.3s opacity ease;
    padding-bottom: 10px;
    padding-top: 10px;

    span {
      font-size: 16px;
      font-weight: 450;
      color: var(--blue) !important;
    }

    svg {
      transition: 0.3s transform ease;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &:hover {
    .select__selected svg {
      transform: rotate(180deg);
    }

    .select__dropdown {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  &__dropdown {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s all ease;
    min-width: 152px;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--blue-100);
    border-radius: 8px;
    box-shadow: 4px 2px 20px 0px #09134280;
    overflow: hidden;

    &_item {
      cursor: pointer;
      display: block;
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--blue-200);
      transition: 0.3s background-color ease;

      &:hover {
        background-color: var(--blue-200);
      }

      &:last-child {
        border-bottom: none;
      }

      span {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 16px;
        font-weight: 500;
        color: var(--white) !important;
      }

      input {
        appearance: none;
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid var(--gray-100);
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        transition: 0.2s all ease;
      }

      input:hover {
        background-color: var(--blue-100);
        border-color: var(--blue);
      }

      input:checked {
        border-color: var(--blue);

        &::after {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          background-color: #4ba3f5;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
