.notAvailable {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: var(--black);
  display: grid;
  place-content: center;
  padding: 10px;

  h1 {
    text-align: center;
    color: var(--white);
    font-size: 32px;
  }
}
