.button {
  transition: 0.3s opacity ease;
  text-align: center;
  padding: 12px 0;
  border-radius: 60px;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    opacity: 0.8;
  }

  &.primary {
    background-color: var(--blue);
    color: var(--white);
  }

  &.success {
    background-color: var(--green);
    color: var(--black);
  }

  &.disabled {
    pointer-events: none;
    background-color: var(--gray);
    color: var(--white);
  }
}
