.tooltip {
  position: relative;
  display: inline-block;

  &__icon {
    cursor: pointer;
  }

  &:hover {
    .tooltip__info {
      opacity: 1;
      visibility: visible;
    }
  }

  &__info {
    user-select: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s all ease;
    position: absolute;
    left: 50%;
    top: 140%;
    transform: translateX(-50%);
    padding: 13px 16px;
    background-color: var(--blue-100);
    border-radius: 8px;
    box-shadow: 4px 2px 20px 0px #09134280;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    span {
      white-space: nowrap;
      color: var(--white);
      text-align: center;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
