.pairs {
  margin-top: 20px;
  height: calc(100vh - 280px);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-size: 24px;
      font-weight: 600;
    }
  }

  &__table {
    margin-top: 12px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: var(--black-100);
    overflow: auto;

    .nopairs {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 16px;
      width: 100%;
      height: 90%;

      h5 {
        font-size: 16px;
        font-weight: 500;
      }
    }

    table {
      table-layout: auto;
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;

      tr {
        width: 100%;
      }

      thead {
        position: sticky;
        top: 0;
        z-index: 1;

        th {
          text-align: left;
          padding: 10px 16px;
          padding-right: 0;
          background-color: var(--black-50);

          span {
            color: var(--white);
            font-size: 14px;
            font-weight: 500;
            opacity: 80%;
          }
        }
      }

      td {
        padding: 10px 16px;
        padding-right: 0;
        font-size: 14px;
        white-space: nowrap;
      }

      .order,
      .order_item {
        padding-left: 0;
        width: 10%;
      }

      .order_item {
        p {
          max-width: max-content;
          display: flex;
          align-items: center;
          gap: 8px;

          span {
            text-transform: capitalize;

            border-radius: 50px;
            padding: 2px 8px;
            font-size: 12px;
            font-weight: 450;

            &.long {
              color: var(--green);
              background-color: #16d2d733;
            }

            &.short {
              color: var(--red);
              background-color: #ff676733;
            }
          }
        }
      }

      .num,
      .num_item {
        width: 3%;
        padding-right: 5px;
      }

      .type,
      .type_item {
        width: 12%;
      }

      .type_item {
        font-size: 16px;
        text-transform: capitalize;

        span {
          padding: 0 20px;
        }

        &.buy {
          color: var(--green);
        }

        &.sell {
          color: var(--red);
        }
      }

      .amount,
      .amount_item {
        width: 15%;
      }

      .amount_item {
        div {
          display: flex;
          align-items: center;
          gap: 6px;
        }
      }

      .price,
      .price_item {
        width: 10%;
      }

      .price_item {
        div {
          display: flex;
          align-items: center;
          gap: 6px;
        }
      }

      .status,
      .status_item {
        width: 15%;
        text-align: center;
      }

      .status_item {
        &.active span {
          border-color: var(--green);
          color: var(--green);
        }

        span {
          color: var(--white);
          border-radius: 50px;
          padding: 2px 8px;
          font-size: 12px;
          font-weight: 450;
          border: 1px solid var(--white);
        }
      }

      .actions,
      .actions_item {
        width: 5%;
        padding-right: 16px;
      }

      .actions_item {
        div {
          display: flex;
          align-items: center;
          gap: 8px;

          button {
            border-radius: 50%;
            width: 24px;
            height: 24px;
            display: grid;
            place-content: center;
            background-color: #ffffff1a;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }

      .body {
        border-bottom: 1px solid var(--black-50);
        &:last-child {
          border: none;
        }
      }
    }
  }
}
