:root {
  --black: #091342;
  --black-50: #19286d;
  --black-100: #121f5c;
  --white: #ffffff;
  --blue: #1f8feb;
  --blue-50: #043785;
  --blue-100: #002b6d;
  --blue-200: #0f418d;
  --green: #16d2d7;
  --gray: #b1b8dd;
  --gray-50: #566eaa;
  --gray-100: #6e769f;
  --red: #ff6767;
}
